{% extends 'base.html' %}

{% block title %}Reviews - FoodRush{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="fw-bold text-center mb-5">
        FoodRush Community Reviews
    </h1>

    <div class="card shadow-sm mb-5">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <input
                    type="text"
                    name="name"
                    class="form-control mb-3"
                    placeholder="Your Name"
                    required>

                <textarea
                    name="comment"
                    class="form-control mb-3"
                    placeholder="Write your experience..."
                    required></textarea>

                <button class="btn btn-dark">
                    Post Review
                </button>

            </form>

        </div>

    </div>


    {% for item in comments %}

        <div class="card mb-3">

            <div class="card-body">

                <h5>
                    {{ item.name }}
                </h5>

                <p>
                    {{ item.comment }}
                </p>

            </div>

        </div>

    {% empty %}

        <p class="text-center">
            No reviews yet.
        </p>

    {% endfor %}

</div>

{% endblock %}