{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-nav">
  <div class="container">
    <a class="navbar-brand fw-bold logo">FoodRush</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="/restaurants/"
            class="nav-link">
            
            Restaurants
          </a>
        </li>
        <li class="nav-item">
          <a href="/my_orders/"
            class="nav-link">

            My Orders

          </a>
        </li>
        <li class="nav-item">
          <a href="/contact/"
            class="nav-link">

            Contact

          </a>
        </li>
        <li class="nav-item">
          <a href="/comments/"
            class="nav-link">

            Reviews

          </a>

</li>
      </ul>

        <a href="{% url 'login' %}"
          class="btn btn-warning ms-3 px-4">

          Login

        </a>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white">

        <h1 class="display-3 fw-bold">
          Order Food <span class="highlight">Online</span>
        </h1>

        <p class="lead">
          Delicious food delivered to your doorstep
        </p>

        <!-- FORM -->
      <form
        method="GET"
        action="{% url 'food' %}"
        class="d-flex mt-4 search-box">

        <select
          class="form-control me-2 location-select"
          name="location" required>

          <option value="" selected disabled>
            Enter Location
          </option>

          <option class="location" value="Pune">Pune</option>
          <option class="location" value="Mumbai">Mumbai</option>
          <option class="location" value="Nagpur">Nagpur</option>
          <option class="location" value="Nashik">Nashik</option>
          <option class="location" value="Delhi">Delhi</option>
          <option class="location" value="Bangalore">Bangalore</option>
          <option class="location" value="Hyderabad">Hyderabad</option>
        </select>

        <button
        type="submit"
        class="btn btn-warning mt-2 px-4">
          Find Food
        </button>

      </form>

      </div>
    </div>
  </div>
</section>