{% extends 'base.html' %}

{% block title %}Payment - FoodRush{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card payment-card mx-auto" style="max-width:600px;">

        <div class="card-body p-5 text-center">

            <h2 class="fw-bold">
                Online Payment Demo
            </h2>

            <p class="payment-order">
                Order: {{ order.order_number }}
            </p>

            <p class="payment-order my-4">
                ₹{{ order.total }}
            </h1>

            <div class="payment-demo-alert">

                This is a demo payment page.
                No real money will be charged.

            </div>

            <a
                href="{% url 'payment_success' order.id %}"
                class="btn btn-dark btn-lg">

                Pay Now

            </a>

        </div>

    </div>

</div>

{% endblock %}